* text=auto

*.py   text eol=lf
*.md   text eol=lf
*.json text eol=lf
*.txt  text eol=lf

*.gz   binary
*.png  binary
*.jpg  binary
*.jpeg binary
*.tga  binary
*.ttf  binary
*.exe  binary
*.zip  binary
